/* You can add global styles to this file, and also import other style files */
:root {
  --brand-color: #6C63FF;
  --brand-color-light: #D7D4FF;
  --title: #2B2B2B;
  --dark-10: #2A2A2A;
  --dark-20: #555555;
  --dark-30: #F9F9F9;
  --dark-40: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
